@model IEnumerable<P2EyeRIS.Models.Student>

@{
    ViewData["Title"] = "Staff Mainpage";
    var tempModuleList = (List<string>)ViewData["ModuleList"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    @*<link href="~/css/style.css" rel="stylesheet">*@
</head>

<body>
    <div class="container text-center my-3">
        <div align="left">
            Welcome, @ViewData["StaffName"]! <!--insert name here, for now, hardcoded-->
            <p>Choose a Module+Class:</p>
            <select id="ddList" onchange="getModuleClassList();">
            </select>
        </div>
        <div align="right" style="position:relative; bottom: 10px;">
            <input type="text" id="searchInput" onkeyup="searchFunction();" placeholder="Search..." />
        </div>
        <table class="table table bordered table-striped" id="testTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                </tr>
            </thead>
            @if (Model.ToList().Count > 0)
            {
                <tbody id="demo">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><a asp-action="Profile" asp-controller="Student" asp-route-id="@item.Id"><u>@item.Name</u></a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>

    <script language="javascript"> //populate dropdown list
        (function () {
            var elm = document.getElementById('ddList'), //get selected value
                df = document.createDocumentFragment(); //create a document fragment to hold the options while building

            //aww yis razor syntax the good stuff mang

            @foreach(var i in tempModuleList) //loop through number of moduleClasses that the lect teach, for now, hardcoded
            {
                <text>
                    option = document.createElement('option');
                    option.value = '@i'; //set value to module in the list
                    option.appendChild(document.createTextNode(option.value)); //set textContent in a safe way
                    df.appendChild(option); //append option to document fragment
                </text>
            }

            elm.appendChild(df); //append the document fragment to the DOM
        }());
    </script>

    <script language="javascript">
        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("testTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { //skip headers
                td = tr[i];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    @* invoked when user click the moduleclass *@
    <script language="javascript">
        function getModuleClassList() {
            var selectedModuleClass = document.getElementById("ddList").value;
            var modClassWithRange = { modClass: selectedModuleClass, range: "A7:B12"};
            
            $.ajax({
                type: "POST",
                url: "StaffController/ShowStudentList",
                data: modClassWithRange,
                success: function (data) { }
            });
        }
    </script>

</body>
</html>