@model IEnumerable<P2EyeRIS.Models.Student>

@{
    ViewData["Title"] = "Staff Mainpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    @*<link href="~/css/style.css" rel="st+ylesheet">*@
</head>

<body>
    <div class="container text-center my-3">
        <div align="left">
            Welcome, @ViewData["StaffName"]!
            <p>Choose a Module+Class:</p>
            <select id="ddList" onchange="getModuleClassList();"></select>

        </div>
<<<<<<< HEAD
        <div id="refreshtab">
           @* @{ Html.RenderPartial("Results", Model);}*@
        <table class="table table bordered table-striped" id="testTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                </tr>
            </thead>
            @if (Model.ToList().Count > 0)
            {
                <tbody id="demo">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><a asp-action="Profile" asp-controller="Student" asp-route-id="@item.Id"><u>@item.Name</u></a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        </div>
=======
        @{await Html.RenderPartialAsync("_StudentListPartial");}
>>>>>>> 18c03d956f9dd6eb2a23bcc4204c5ae5df6aa6fd
    </div>
</body>

<script language="javascript">
    function getModuleClassList() {
        var range = "A7:B14";
        //var sheet = $("ddList").val();
        var sheetSelected = document.getElementById('ddList').value;

        $.ajax({
            type: "POST",
            url: "Staff/ShowStudentList",
            data: { sheet: sheetSelected, range: range },
            success: function (result) {
                alert("Dropdown list value changed.");
            }
        });
    }
</script>

    @*
        EXACTLY THIS PART IS A LITTLE BIT FAULTY, THAT'S WHY
        THE FUNCTION CANNOT PARSE THE STRING PROPERLY,
        BECAUSE THIS JAVASCRIPT FUNCT DIDNT MANAGE TO PASS
        selectedModuleClass AND range INTO THE FUNCTION
    *@

    <script language="javascript">
        function getModuleClassList() {
            var range = "A7:B14";
            var sheet = $("ddList").val();
            var elm = document.getElementById('ddList').value;
            
            
            $.ajax({
                type: "POST",
                url: "Staff/ShowStudentList",
                data: {sheet: elm, range: range},
                success: function (response) {
                    alert("Dropdown list value changed.");
                }
            });
        }
    </script>

</html>